.container {
    width: 960px;
    max-width: 100%;
    min-height: 400px;
    margin: 0 auto;
    border: 3px dashed orange;
}
/* li : 블록 요소(기본값) */
/* display: block: */
li {
    /* display: inline; */
    /* inline : width, height 적용X -> 크기x, 여백o, 한줄 나란히 배치*/
    /* block :  크기o, 여백o, 세로로 쌓여서 배치*/
    /* inline-block : 적용O -> 크기o, 여백o, 한줄 나란히 배치 */
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #000;
    padding: 10px 20px;
    text-align: center;
    list-style-type: none;
}
li:hover { background-color: #ddd; cursor: pointer;}

/* 화면에 보이지 않게 지정 */
.none { display: none;} /* 아예 없어짐(자리x) -> 없음*/
.hidden { visibility: hidden;}/* 자리는 있음 보이지만 않음 -> 숨기기 */
.transparent { opacity: 0;}/* 자리도 있고, url도 있음 -> 투명도 0 */

/* Grid 레이아웃 */
.grid-container {
    display: grid;
    /* grid-template-columns: 320px 320px 320px; */
    /* - grid 레이아웃의 열의 크기를 지정하는 속성 */
    /* grid 영역 안에서 열마다 크기 조정 가능 */
    grid-template-columns: repeat(3, auto);
    /* repeat : 남는 열(혹은 처음부터) 자동 계산해서 조정 */
    padding: 10px;
    background-color: royalblue;
}

.grid-container .item {
    padding: 20px;
    text-align: center;
}

/* Flex 레이아웃 */
/* 유연하게 적용 가능 */
.flex-container {
    display: flex;
    /* fw : 없으면 한줄로 나옴, 있으면 아이템 크기 정해서 나열 후 밑으로도 정리 */
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 100px;
    column-gap: 50px;
}
.flex-container .item {
    width: 200px;
}
.item img {
    width: 100%;
}