* {margin: 0;padding: 0;box-sizing: border-box;}
.container {
    width: 1200px;
    margin: 0 auto;
    border: 3px dashed orange;
}
ul {list-style-type: none;}
a { text-decoration: none; color: inherit;}

/* 메인 메뉴 */
.main-menu {
    display: flex;
    position: relative;
    width: 480px;
    /* overflow: hidden; */
}
.menu-item {
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    position: relative;
    z-index: 2;
}
.menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.menu-item a:hover {
    background-color: cornflowerblue;
    color: white;
}
.submenu {
    position: absolute;
    top: 100%;
    left: -1px;
    display: none;
    overflow: hidden;
}
#back {
    position: absolute;
    top: 100%;
    width: 1200px;
    height: 200px;
    background-color: lightsteelblue;
    z-index: 1;
    display: none;
}