* {margin: 0; padding: 0; box-sizing: border-box;}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 3px dashed orange;
}
ul { list-style-type: none; padding: 0;}
a { text-decoration: none; color: inherit;}

/* 메인 메뉴 */
.main-menu {
    display: flex;
}
.menu-item {
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    position: relative;
}
.menu-item a {
    display: inline-block;
    width: 100%;
    height: 100px;
}
.menu-item:hover {
    background-color: cornflowerblue;
}
.menu-item:hover > a {
    color: white
}
.submenu .menu-item:hover {
    background-color: royalblue;
}
.submenu {
    position: absolute;
    top: 100%;
    left: -1px;
    display: none;
    overflow: hidden;
}