* {margin: 0;padding: 0;box-sizing: border-box;}
.container {
    width: 1200px;
    margin: 0 auto;
    border: 3px dashed orange;
}
ul {list-style-type: none; padding: 0;}
a { text-decoration: none; color: inherit;}

.main-menu {
    display: flex;
    flex-direction: column;
}
.menu-item {
    width: 120px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    position: relative;
}
.menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.menu-item:hover > a {
    background-color: cornflowerblue;
    color: white;
}
.submenu .menu-item:hover > a {
    background-color: royalblue;
    color: white;
}
.submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -1px;
    z-index: 1;
    overflow: hidden;
}