.container {
    position:relative;
    width: 800px;
    height: 400px;
    max-width: 100%;
    margin: 0 auto;
    border: 10px solid black;
    overflow: hidden;
}
img {width: 100%;}

.slide {
    position: absolute;
    width: calc(800px * 3);
    animation: slide;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

.slide img {
    width: 800px;
    height: 400px;
    float: left;
}

@keyframes slide {
    33.333% { left: 0; }
    66.666% { left: calc(-800px * 1); }
    100% { left: calc(-800px * 2); }
}
/* 반복은.. css로는 어렵고(코드 난해하짐),, 자바스크럽트로 해야한다...!!! */